:root {
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
}

.btn--wide {
    padding: 12px 64px;
    font-size: 20px;
}

.btn--large:hover, .btn--medium:hover, .btn--mobile:hover{
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
}

.btn--wide:hover {
    color: #fff;
    background-color: #f00946;
    transition: all 0.2s ease-out;
}

.blue {
    background-color: #276afb;
    color: #fff;
    border: none;
}

.red {
    background-color: #f00946;
    color: #fff;
    border: none;
}

.primary {
    background-color: #009677;
    color: #fff;
    border: none;
}

primary:disabled {
    color: #4a4a4a;
}

.primary:hover {
    background-color: #f00946;
    color: #fff;
    border: none;
}

.green {
    background-color: #25ce4a;
    color: #fff;
    border: none;
}

.green:hover {
    background-color: #242424;
}

.nav-field[type="text"] {
    text-align: center;
    padding: 12px 0px 12px 0px;
    margin-right: 10px;
    outline: none;
    border: white;
    color: #f00946;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: medium;
    letter-spacing: 2px;
}

.field {
    display: flex;
    flex-direction: row;
}

.field:hover {
    border-bottom: 2px solid transparent !important;
}
@media screen and (min-width: 1095px) {
    .field {
        height: 65% !important;
        width: 80% !important;
    }
}

@media screen and (max-width: 1095px) {

    .btn {
        padding: 12px;
        margin-bottom: 20px;
    }

    .field {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80% !important;
        overflow: visible;
        /*TODO FIX HEIGHT BUTTON CLIPPING BUG SAFARI*/
        height: 100px !important;
    }

    .nav-field {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        background: white !important;
        color: #f00946 !important;
    }
}

.nav-field::-webkit-input-placeholder {
    text-transform: none;
    color: #c3c3c3;
    letter-spacing: normal;
}

.nav-field:-ms-input-placeholder {
    text-transform: none;
    color: #c3c3c3;
    letter-spacing: normal;
}

.nav-field::placeholder {
    text-transform: none;
    color: #c3c3c3;
    letter-spacing: normal;
}
